body{
    background: linear-gradient(blue,purple);
}
div {
    width: 500px;
    text-align: center;

}
body {
    99
    justify-content: center;
    align-items: center;
    
}
h1 {
    font-size: 100px;
    text-align: center;

}